body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #222;
  }
  
  header {
    background-color: #f7f7f7;
    padding: 2rem;
    text-align: center;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  